<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Employee Sign Up</title>
    <link rel="stylesheet" href="/../../stylesheets/empsignup.css">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <form method="post" action="/signup/employee" enctype="multipart/form-data">
                <h2 class="text-center">Employee Sign Up</h2>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" name="FirstName" placeholder="FirstName" required></div>
                    </div>
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" name="LastName" placeholder="LastName" required></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" name="CNIC" placeholder="CNIC" required></div>
                    </div>
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" name="Fuel" placeholder="Fuel" required></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" name="Salary" placeholder="Salary" required></div>
                    </div>
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" name="Insurance" placeholder="Health Insurance(Y/N)" required></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" name="department" placeholder="Department" required></div>
                    </div>
                    <div class="col">
                        <div class="form-group"><input class="form-control" type="text" name="designation" placeholder="Designation" required></div>
                    </div>
                </div>
                <div class="form-group"><input class="form-control" type="text" name="DOB" placeholder="DD/MM/YY" required></div>
                <div class="form-group"><input class="form-control" type="text" name="numberins" placeholder="No of Insurance Benificiaries" required></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
                <div class="form-group">Picture<input type="file" name="picture"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="already" href="#">You already have an account? Login here.</a>
            </form>
        </div>
    </div>
</body>

</html>