<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Job Applications</title>
    <link rel="stylesheet" href="/public/stylesheets/navbar.css">
    </head>

<body style="height: 650px;">
    <h1 style="margin: 70px;font-size: 30px;">Job applications</h1>
    <div></div>
    <div class="list-group"><a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Applicant name</h5><span class="badge badge-pill badge-primary align-self-center" style="height: 28px;text-align: center;font-size: 15px;width: 158px;font-weight: bold;font-style: oblique;">View Application</span>
            </div>
            <p class="mb-1">Qualification</p><small class="text-muted" style="font-size: 16px;">Experience</small>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Applicant name</h5><span class="badge badge-pill badge-primary align-self-center" style="height: 28px;text-align: center;font-size: 15px;width: 158px;font-weight: bold;font-style: oblique;">View Application</span>
            </div>
            <p class="mb-1">Qualification</p><small class="text-muted" style="font-size: 16px;">Experience</small>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Applicant name</h5><span class="badge badge-pill badge-primary align-self-center" style="height: 28px;text-align: center;font-size: 15px;width: 158px;font-weight: bold;font-style: oblique;">View Application</span>
            </div>
            <p class="mb-1">Qualification</p><small class="text-muted" style="font-size: 16px;">Experience</small>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Applicant name</h5><span class="badge badge-pill badge-primary align-self-center" style="height: 28px;text-align: center;font-size: 15px;width: 158px;font-weight: bold;font-style: oblique;">View Application</span>
            </div>
            <p class="mb-1">Qualification</p><small class="text-muted" style="font-size: 16px;">Experience</small>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Applicant name</h5><span class="badge badge-pill badge-primary align-self-center" style="height: 28px;font-size: 15px;text-align: center;font-style: oblique;width: 158px;">View Application</span>
            </div>
            <p class="mb-1">Qualification</p><small class="text-muted" style="font-size: 16px;">Experience</small>
        </a></div>
</body>

</html>