<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>job_detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../stylesheets/jobDetails.css">
</head>
<body style="height: 650px;">
    <h1 style="margin: 110px 20px 30px 180px;font-size: 30px;">{{{job_opening.dataValues.jobTitle}}}</h1>
    <div class="job-meta"><small class="minor-detail">ComputerScience/Engineering</small><small class="minor-detail">Date Posted: 10/9/2020</small><small class="minor-detail">Full-Time</small><a href="../applications/apply/{{job_opening.dataValues.id}}" class="btn btn-primary btn-lg apply-now" type="button">Apply Now</a></div>
    <hr>
    <div class="job-meta"></div>
    <p class="job-meta job-desc">{{{job_opening.dataValues.jobDescription}}}<br><br><br></p>
</body>

</html>