<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Job Openings</title>
    <link rel="stylesheet" href="/../../stylesheets/jobOpening.css">
</head>

<body>
    <h1 style="margin: 70px 20px 30px 20px;font-size: 30px;">Job Openings</h1>
    <div></div>
    {{#each jobopenings}}
    </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="/openings/{{this.dataValues.id}}" id="{{this.dataValues.id}}" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary">{{this.dataValues.jobTitle}}</h5>
            </div>
            <p class="mb-1" >{{this.dataValues.jobDescription}}</p><small class="text-muted" style="font-size: 16px;"></small>
    {{/each}}
       
</body>

</html>
