<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Job Openings</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1 style="margin: 70px 20px 30px 20px;font-size: 30px;">Job Openings</h1>
    <div></div>
    <div class="list-group"><a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between"><h5 class="mb-1 text-primary">Software Engineer
</h5></div>
            <p class="mb-1">Description</p>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary">UI/UX Designer</h5>
            </div>
            <p class="mb-1">Description</p><small class="text-muted" style="font-size: 16px;"></small>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary">Software Engineer</h5>
            </div>
            <p class="mb-1">Description</p>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary">Job Title</h5>
            </div>
            <p class="mb-1">Description</p>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-primary">Job Title</h5>
            </div>
            <p class="mb-1">Description</p>
        </a></div>
</body>

</html>
