<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/postjob.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Post Job</title>
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <form method="post" action="/postjob">
                <h2 class="text-center"><strong>Post A Job</strong>.</h2>
                <div class="form-group"><input class="form-control" type="text" name="jobTitle" placeholder="Job Title" /></div>
                <div class="form-group"><textarea class="form-control" name="jobDescription" placeholder="Job description"></textarea></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
                <div class="form-group"><small>{{{error}}}{{{success}}}</small></div>
            </form>
        </div>
    </div>
</body>

</html>